.box1{
 float:left;
 width:100px;
 height:100px;
 background-color:gray;
}

.box2{
 float:left;
 width:100px;
 height:100px;
 background-color:orangered;
}

.box3{
 float:left;
 width:100px;
 height:100px;
 background-color:greenyellow;
}