.box1{
 float:left;
 width:100px;
 height:100px;
 background-color:beige;
}

.box2{
 float:left;
 width:100px;
 height:100px;
 background-color:aquamarine;
}

.box3{
 float:right;
 width:100px;
 height:100px;
 background-color:aqua;
}